<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors = "true"
    verbose = "true"
    debug = "true"
    bootstrap ="../vendor/autoload.php"
    >
    <testsuites>
        <testsuite name="all">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src</directory>
        </whitelist>
    </filter>

</phpunit>
